:root{
    --blue:#007bff;
    --white:#fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}
.form-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px 40px;
    background-color: #fff;
    width: 350px;
    
}
.form-container h1 {
    margin-top: 0;
    color: var(--blue);
    font-weight: 200;
}

.form-container .input-cnt{
    display: flex;
    flex-direction: column;
}

.input-cnt label[for="number"]{
    font-size: 20px;
    padding: 5px 0;
}

.form-container input {
    width: calc(100%-30px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.form-container input[type="submit"] {
    padding: 5px 15px;
    background-color: var(--white);
    color: var(--blue);
    transition: all .1s;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    border: solid 2px ;
    border-radius: 10px;
    font-weight: bold;
}
.form-container input[type="submit"]:hover {
    scale: .95;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}